@use "reset";

.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    

    &__button {
        background-color: transparent;

        @media(min-width: 599px) {
            display: none;
        }
    }

    &__collapse {
        @media(max-width: 599px) {
            display: none;
        }
        >ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        &--show{
            display: block;
            width: 100%;
            >ul{
                flex-direction: column;
                padding: 0;
            }
        }
    }
}

.hero {
    display: grid;
    grid-template-areas: "stack";
    color: white;

    >* {
        grid-area: stack;
    }

    >h1 {
        place-self: center;
    }
}

.filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.flow>*+* {
    margin-top: var(--flow-space, 1rem)
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}